// Colors

$base-blue: #283293;

// Fonts

// -- Size
$font-size-base: 24px;
$font-size-small: $font-size-base * 0.8;
$font-size-big: $font-size-base * 1.5;
$font-size-bigger: $font-size-base * 2;
$font-size-biggest: $font-size-base * 2.5;

// -- Family
$font-family-base: "Roboto", Arial, sans-serif;

// -- Line Height
$line-height-base: 1.5em;
$line-height-small: 1em;

// Blocks

$padding-base: 0 15px;
